<h1><%= @list_of_words.word() %></h1>

<ul>
  <% @dealership.show_vehicles().each() do |cars| %>
  <li><%= cars.unique_vehicle() %></li>
  <% end %>
</ul>

<h3>Add a new vehicle</h3>
<form action="/vehicles" method="post">
  <input id="new_word_id" name="new_word_id" type="hidden" value="<%= @dealership.id() %>">
  <select name="make" class="form-control">
