<h1><%= @new_word.word() %></h1>

<ul>
  <% @new_word.show_word().each() do |definition| %>
  <li><%= definition.unique_word() %></li>
  <% end %>
</ul>

<h3>Add a definition</h3>
<form action="/definitions" method="post">
  <input id="new_definition_id" name="new_definition_id" type="hidden" value="<%= @dealership.id() %>">
  <div class="form-group">
    <label for="definition">Definition:</label>
    <input id="definition" name="definition" class="form-control" type="text">
  </div>
</form>
