<% if @list_of_words == [] %>
  <h1>Enter your first word:</h1>
  <% else %>
  <h1>Add another word to your dictionary:</h1>
<% end %>

<ul>
  <% @list_of_words.each do |new_word| %>
  <li><a href="/new_word/<%= new_word.id %>"><%= new_word.word %></a></li>
  <% end %>
</ul>

<form action="/new_word" method="post">
  <div class="form-group">
    <input name="new_word" id="new_word" type="text" class="form-control" placeholder="ex. mountain">
    <button type="submit" class="btn-danger">Submit</button>
  </div>
</form>
